.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000004d;
}

.modal__container {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  max-width: 496px;
  max-height: 436px;
  width: 100%;
  padding: 28px 28px 36px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url("../../assets/grey-close-button.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__header {
    margin: 0;
    font-family: "Cabinet Grotesk";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 24px;
}

.modal__radio-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
    padding: 0;
    padding-bottom: 32px;
    color: rgba(0,0,0,0.5);
}

.modal__input {
    display: block;
    border: none;
    border-bottom: 1px #000 solid;
    width: 100%;
    padding-top: 8px;
}

.modal__label {
    font-family: "Cabinet Grotesk";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 24px;
}

.modal__legend {
    font-family: "Cabinet Grotesk";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    padding-bottom: 12px;
    color: #000;
}

.modal__label-radio {
    font-family: "Cabinet Grotesk";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
}

.modal__radio-input {
    margin-right: 8px;
    height: 16px;
    width: 16px;
    accent-color: #000;
}

.modal__radio-input:checked ~ .modal__label-radio {
    color:#000;
}

.modal__submit-btn {
    font-family: "Cabinet Grotesk";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    width: 124px;
    height: 36px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    transform: opacity .5s ease-in-out;
}

.modal__submit-btn:hover {
    opacity: 0.6;
}

.modal__submit-btn:disabled {
    background-color: rgba(0,0,0,0.3);
    cursor: default;
}