.header {
    display: flex;
    align-items: center;
    padding: 32px 0 28px;
    height: 40px;
}

.header__date-and-location {
    margin-left: 24px;
}

.header__logo {
}

.header__add-clothes-btn {
    margin-left: auto;
}

.header__user-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header__username {
    font-family: "Cabinet Grotesk";
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}

.header__avatar {
    margin-left: 12px;
    /* border: solid rgba(0,0,0, 0.5) 1px;
    height: 40px;
    width: 40px;
    border-radius: 50%; */
}