

.header {
    display: flex;
    align-items: center;
    padding-bottom: 28px;
    height: 40px;
    background-color: none;
}

.header__date-and-location {
    margin: 0;
    font-family: "Cabinet Grotesk";
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}

.header__logo {
    max-width: 89px;
    height: 40px;
    margin-right: 24px;
}

.header__add-clothes-btn {
    margin-left: auto;
    font-family: "Cabinet Grotesk";
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.header__user-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header__username {
    font-family: "Cabinet Grotesk";
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
}

.header__avatar {
    margin-left: 12px;
    border: 1px;
    height: 40px;
    width: 40px;
}